* {
    font-family: Nunito Sans;
    color: #234B68;
    font-weight: bold;
    font-size: 16;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding : 50px 20px;
}

.input-area {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: solid 1px #234B68;
    border-radius: 10px;
    padding : 30px 70px;
    box-shadow: 0 4px 4px -3px #4B5563;
}

.input-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px;
    gap: 50px;
}

.input-title {
    width: 50%;
}

input {
    border: solid 1px #234B68;
    padding: 5px 10px;
    box-shadow: 0 3px 4px -3px #4B5563;
}

.error-message {
    color: #FF822E;
    font-weight: normal;
}

.error-border {
    border: solid 1px #FF822E;
}

.euro, .percent, .years {
    position: relative;
    margin-right: 60px;
}

.euro::after, .percent::after, .years::after {
    background-color: #234B68;
    color: #FCFCFC;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 60px;
    text-align: center;
    padding-top: 4px;
    border-radius: 0 9px 9px 0;
    box-shadow: 0 4px 4px -3px #4B5563;
}

.euro::after {
    content: " €";
    }
    
.percent::after {
    content: " %";
    }
    
.years::after {
    content: " an(s)";
    }
        
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 75px; */
}

button {
    background-color: #234B68;
    color: #FCFCFC;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    padding: 12px 75px;
    box-shadow: 0 4px 4px -3px #4B5563;
}

button:hover {
    background-color: #29517F;
    cursor: pointer;
}

.result {
    text-align: center;
    border: solid 1px #234B68;
    border-radius: 10px;
    padding : 30px 70px;
    margin: 45px auto;
    box-shadow: 0 4px 4px -3px #4B5563;
}

table {
    width: 100%;
    text-align: left;
    padding-bottom: 40px;
}

th {
    padding-bottom: 20px;
}

td{
    font-weight: normal;
}

@media screen and (max-width: 724px) {

    /* Input area responsive */
    .input-area {
        padding: 15px 30px 20px 30px;
        align-items: center;
        height: 100%;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    h1 {
        text-align: center;
    }
    .input-line {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    label {
        margin-bottom: 5px;
    }

    .euro::after, .percent::after, .years::after {
        width: 40px;
        font-size: 14px;
    }

    #error-display {
        margin : 0px 40px 20px 70px;
    }

    .btn {
        padding-top : 0px;
        margin: 10px;        
    }

    /* Result table responsive */
    .result {
        padding: 15px 30px
    }

    #result-table h2 {
        text-align: center;
    }

    .scroll-x {
        overflow-x: auto;
    }
    
    table {
        width: 700px !important;
    }
}
